[Unit]
Description=LizardFS CGI server daemon
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/mfscgiserv start
ExecStop=/usr/sbin/mfscgiserv stop
ExecReload=/usr/sbin/mfscgiserv restart
Restart=on-abort

[Install]
WantedBy=multi-user.target
