[Unit]
Description=LizardFS metalogger server daemon
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/sbin/lfsmetalogger start
ExecStop=/usr/sbin/lfsmetalogger stop
ExecReload=/usr/sbin/lfsmetalogger reload
Restart=on-abort

[Install]
WantedBy=multi-user.target
