[Unit]
Description=LizardFS master server daemon
Documentation=man:mfsmaster
After=network.target

[Service]
Type=forking
TimeoutSec=0
ExecStart=/usr/sbin/mfsmaster start
ExecStop=/usr/sbin/mfsmaster stop
ExecReload=/usr/sbin/mfsmaster reload
Restart=no

[Install]
WantedBy=multi-user.target
