[Unit]
Description=LizardFS master server daemon
After=syslog.target network.target

[Service]
Type=forking
TimeoutSec=0
ExecStart=/usr/sbin/lfsmaster start
ExecStop=/usr/sbin/lfsmaster stop
ExecReload=/usr/sbin/lfsmaster reload
Restart=no

[Install]
WantedBy=multi-user.target
