[Unit]
Description=LizardFS metalogger server daemon
Documentation=man:mfsmetalogger
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/mfsmetalogger start
ExecStop=/usr/sbin/mfsmetalogger stop
ExecReload=/usr/sbin/mfsmetalogger reload
Restart=on-abort

[Install]
WantedBy=multi-user.target
