[Unit]
Description=LizardFS chunkserver daemon
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/sbin/lfschunkserver start
ExecStop=/usr/sbin/lfschunkserver stop
ExecReload=/usr/sbin/lfschunkserver reload
Restart=on-abort

[Install]
WantedBy=multi-user.target
