[Unit]
Description=LizardFS CGI server daemon
Documentation=man:mfscgiserv
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/lizardfs-cgiserver
User=nobody
Group=nobody

[Install]
WantedBy=multi-user.target
