*.[oa]
.DS_Store
.deps
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/mfscgi/mfscgiserv
/mfschunkserver/mfschunkserver
/mfsdata/mfschunkserver.cfg
/mfsdata/mfsmaster.cfg
/mfsmaster/mfsmaster
/mfsmetarestore/mfsmetarestore
/mfsmount/mfsmount
/mfsmount/mfstools
/missing
/stamp-h1
*.tar.gz
