*.[oa]
*~
.DS_Store
.deps
.clang_complete
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/autoscan.log
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4
/mfscgi/mfscgiserv
/mfscgi/chart.cgi
/mfscgi/mfs.cgi
/mfschunkserver/mfschunkserver
/mfsdata/mfschunkserver.cfg
/mfsdata/mfsmaster.cfg
/mfsdata/mfsmetalogger.cfg
/mfsmaster/mfsmaster
/mfsmetalogger/mfsmetalogger
/mfsmetadump/mfsmetadump
/mfsmetarestore/mfsmetarestore
/mfsmount/mfsmount
/mfsmount/mfstools
/missing
/stamp-h1
*.tar.gz
