# Allow everything but "meta".
*			/	rw,alldirs,maproot=0

# Allow "meta".
*			.	rw

# Some examples:

#  Users from any IP can mount root directory as a read-only file system. Local roots are mapped as users with uid:gid = 999:999.
#*			/	ro

#  Users from IP 192.168.1.0-192.168.1.255 can mount root directory as a standard read/write file system. Local roots are mapped as users with uid:gid = 999:999.
#192.168.1.0/24		/	rw

#  Users from IP 192.168.1.0-192.168.1.255 when give password 'passcode' can mount any subdirectory as a standard read/write file system. Local roots are left unmapped.
#192.168.1.0/24		/	rw,alldirs,maproot=0,password=passcode

#  Users from IP 10.0.0.0-10.0.0.5 when give password 'test' can mount 'test' subdirectory as a standard read/write file system. Local roots are mapped as 'nobody' users (usually uid=65534).
#10.0.0.0-10.0.0.5	/test	rw,maproot=nobody,password=test

#  Users from IP 10.1.0.0-10.1.255.255 can mount 'public' subdirectory as a standard read/write file system. All users are mapped as users with uid:gid = 1000:1000.
#10.1.0.0/255.255.0.0	/public	rw,mapall=1000:1000
