Source: lizardfs
Section: admin
Priority: extra
Maintainer: Adam Ochmanski <contact@lizardfs.org>
Build-Depends: asciidoc (>= 8.6.6),
               debhelper (>= 9),
               cmake (>= 2.8),
               libfuse-dev,
               pkg-config,
               zlib1g-dev,
               python,
Standards-Version: 3.9.3
Homepage: http://lizardfs.org/

Package: lizardfs-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends}
Description: Debugging symbols for LizardFS
 Debugging symbols for all LizardFS binaries

Package: lizardfs-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         adduser
Conflicts: mfs-common
Replaces: mfs-common
Provides: mfs-common
Description: LizardFS common files
 Files and services common for all LizardFS daemons.

Package: lizardfs-master
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lizardfs-common
Conflicts: mfs-master
Replaces: mfs-master
Provides: mfs-master
Description: LizardFS master server
 LizardFS master (metadata) server.

Package: lizardfs-metalogger
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lizardfs-common
Conflicts: mfs-metalogger
Replaces: mfs-metalogger
Provides: mfs-metalogger
Description: LizardFS metalogger server
 LizardFS metalogger (metadata replication) server.

Package: lizardfs-chunkserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lizardfs-common
Conflicts: mfs-chunkserver
Replaces: mfs-chunkserver
Provides: mfs-chunkserver
Description: LizardFS data server
 LizardFS data server.

Package: lizardfs-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, bash-completion
Conflicts: mfs-client
Replaces: mfs-client
Provides: mfs-client
Description: LizardFS client
 LizardFS clients: mfsmount and mfstools.

Package: lizardfs-client3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lizardfs-client
Description: LizardFS client using FUSE3
 LizardFS client: mfsmount3.

Package: lizardfs-lib-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LizardFS client C/C++ library
 LizardFS client library for C/C++ bindings.

Package: lizardfs-nfs-ganesha
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lizardfs-lib-client
Description: LizardFS plugin for nfs-ganesha
 LizardFS fsal plugin for nfs-ganesha.

Package: lizardfs-adm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LizardFS administration tools
 LizardFS administration tools: lizardfs-admin

Package: lizardfs-cgi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         python
Conflicts: mfs-cgi
Replaces: mfs-cgi
Provides: mfs-cgi
Description: LizardFS CGI Monitor
 LizardFS CGI Monitor.

Package: lizardfs-cgiserv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lizardfs-cgi,
         python
Conflicts: mfs-cgiserv
Replaces: mfs-cgiserv
Provides: mfs-cgiserv
Description: Simple CGI-capable HTTP server to run LizardFS CGI Monitor
 Simple CGI-capable HTTP server to run LizardFS CGI Monitor.

Package: lizardfs-uraft
Architecture: any
Depends: lizardfs-master,
         lizardfs-adm,
         iputils-arping,
         sudo,
         ${shlibs:Depends},
Description: LizardFS cluster management tool
 LizardFS is a distributed filesystem.
 .
 This package offers means for simplified LizardFS deployment
 on cluster infrastructure.

