Source: mfs
Section: admin
Priority: extra
Maintainer: Jakub Bogusz <contact@moosefs.com>
Build-Depends: debhelper (>= 5), autotools-dev, libc6-dev, libfuse-dev, pkg-config, zlib1g-dev, python
Standards-Version: 3.7.3
Homepage: http://moosefs.com/

Package: mfs-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MooseFS common files
 Files and services common for all MooseFS daemons.

Package: mfs-master
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mfs-common
Description: MooseFS master server
 MooseFS master (metadata) server.

Package: mfs-metalogger
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mfs-common
Description: MooseFS metalogger server
 MooseFS metalogger (metadata replication) server.

Package: mfs-chunkserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mfs-common
Description: MooseFS data server
 MooseFS data server.

Package: mfs-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MooseFS client
 MooseFS clients: mfsmount and mfstools.

Package: mfs-cgi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MooseFS CGI Monitor
 MooseFS CGI Monitor.

Package: mfs-cgiserv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mfs-cgi
Description: Simple CGI-capable HTTP server to run MooseFS CGI Monitor
 Simple CGI-capable HTTP server to run MooseFS CGI Monitor.
