Source: lizardfs
Section: admin
Priority: extra
Maintainer: Adam Ochmanski <contact@lizardfs.org>
Build-Depends: asciidoc (>= 8.6.6),
               debhelper (>= 9),
               cmake (>= 2.8),
               libfuse-dev,
               pkg-config,
               zlib1g-dev,
               python,
Standards-Version: 3.9.3
Homepage: http://lizardfs.org/

Package: lizardfs-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends}
Description: Debugging symbols for LizardFS
 Debugging symbols for all LizardFS binaries

Package: lizardfs-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         adduser
Conflicts: mfs-common
Replaces: mfs-common
Provides: mfs-common
Description: LizardFS common files
 Files and services common for all LizardFS daemons.

Package: lizardfs-master
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lizardfs-common
Conflicts: mfs-master, moosefs-master
Replaces: mfs-master, moosefs-master
Provides: mfs-master, moosefs-master
Description: LizardFS master server
 LizardFS master (metadata) server.

Package: lizardfs-metalogger
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lizardfs-common
Conflicts: mfs-metalogger, moosefs-metalogger
Replaces: mfs-metalogger, moosefs-metalogger
Provides: mfs-metalogger, moosefs-metalogger
Description: LizardFS metalogger server
 LizardFS metalogger (metadata replication) server.

Package: lizardfs-chunkserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lizardfs-common
Conflicts: mfs-chunkserver, moosefs-chunkserver
Replaces: mfs-chunkserver, moosefs-chunkserver
Provides: mfs-chunkserver, moosefs-chunkserver
Description: LizardFS data server
 LizardFS data server.

Package: lizardfs-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: mfs-client, moosefs-client
Replaces: mfs-client, moosefs-client
Provides: mfs-client, moosefs-client
Description: LizardFS client
 LizardFS clients: mfsmount and mfstools.

Package: lizardfs-adm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LizardFS administration tools
 LizardFS administration tools: lizardfs-admin

Package: lizardfs-cgi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         python
Conflicts: mfs-cgi, moosefs-cgi
Replaces: mfs-cgi, moosefs-cgi
Provides: mfs-cgi, moosefs-cgi
Description: LizardFS CGI Monitor
 LizardFS CGI Monitor.

Package: lizardfs-cgiserv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, lizardfs-cgi,
         python
Conflicts: mfs-cgiserv, moosefs-cgiserv
Replaces: mfs-cgiserv, moosefs-cgiserv
Provides: mfs-cgiserv, moosefs-cgiserv
Description: Simple CGI-capable HTTP server to run LizardFS CGI Monitor
 Simple CGI-capable HTTP server to run LizardFS CGI Monitor.
