#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

.PHONY: override_dh_strip override_dh_auto_configure override_dh_systemd_enable override_dh_systemd_start override_dh_installinit

override_dh_auto_configure:
	./configure --with-doc

override_dh_strip:
	dh_strip --dbg-package=lizardfs-dbg

override_dh_installinit:
	dh_installinit --no-start

override_dh_systemd_enable:
	dh_systemd_enable --no-enable

override_dh_systemd_start:
	dh_systemd_start --no-start

%:
	dh $@ --with systemd
