#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip --dbg-package=lizardfs-dbg

%:
	dh $@ --parallel
